.navigation{
	background-color: none !important;
}
nav{
	top: 0px;
}
.navbar{
	padding-top: 50px;
}
.navbar-default{
	background-color: transparent;
	border-color: transparent;
}

ul.social > li{
	margin-left: 20px;
}
.social-nav{
	margin-right: 20px;
}